body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

button {
    padding: 4px 18px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    width: 124px;
    height: 36px;

}

.section {
    background-color: rgb(31, 31, 55);
    padding: 0px 15% 0 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: rgb(31, 31, 55);
    color: white;
    padding-top: 16px;
}

.links {
    display: flex;
    gap: 12px;
}

.top-content {
    background-color: rgb(31, 31, 55);
    color: white;
    display: flex;
    padding: 100px 0 100px 0;
    gap: 25px;
}

.top-content .left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 50%;
}

.top-content .left .subtext {
    color: #E5E7EB;
    margin: 0 0 8px 0;
    font-size: 18px;
}

.top-content .right {
    display: flex;
    justify-content: flex-end;
    min-width: 50%;
    margin: 0;
}

.hero-text {
    font-size: 48px;
    font-weight: bold;
}

.random {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.random .info {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    padding: 36px;
}

.random img {
    height: 175px;
    min-width: 175px;
    border: 2px solid #3882F6;
    border-radius: 16px;
}

.random .subtext {
    color: black;
    font-size: 18px;
    max-width: 175px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    padding-bottom: 100px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    padding: 100px 20%;
    font-weight: lighter
}

.quote p {
    margin: 0;
}
.thor {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-align: end;
}